html,body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0px;
   
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-image: url("../images/pexels-simon-matzinger-1323550.jpg");
    font-family: 'Poppins', sans-serif;
}
header{

    width: 100%;
    background-color: #0082e6;
   display: grid;
   color: white;
   column-gap: 200px;
   height: 10vh;

   align-items: center;
   grid-template-columns: 250px auto;
   box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
   -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
   -moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    
}
.logo-container p{
    margin: auto;
    width: auto;
    font-family: 'Pacifico', cursive;
    font-size:larger;
    
}
.logo-container{
    margin: auto;
    width: auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
}
.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.nav-link{
   
    display: grid;
  
    list-style: none;
    grid-template-columns: repeat(6,auto);
}
.nav-item{
    
    text-decoration: none;
    color: white;
}

.policy-card{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: white;
    margin: 20px;
}
.policy-title p{
margin-left: 20px;
font-size: large;
width: 180px;
border-bottom: #0082e6 solid 1px;
}
.policy-subtitle p{
 margin: 20px;
}
#policy_app{
  
  border-radius: 3px;
  padding: 5px;
  background-color: #0082e6;
  color:white;
  font-size: medium;
  margin: 10px;
}
.policy-form{
    margin: 20px;
    width: 500px;
    display: none;
    border:  blueviolet solid 1px;
  border-radius: 3px;
}
.enter-name-text{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

input[id=first-name]{
    border:1px solid purple;
    border-radius: 5px;
    height: 30px;
    margin: 15px;
}

input[id=last-name]{
    border:1px solid purple;
    border-radius: 5px;
    height: 30px;
    margin: 15px;
}
.enter-name{
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #0082e6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#0082e6 ;
}

.emai-detail{
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #0082e6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:#0082e6 ;
}
input{
    font-size: medium;
    padding: 5px;
}
.email-text-sec{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

input[id=email]{
    border:1px solid purple;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 15px;
}

input[id=phone-number]{
    border:1px solid purple;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 15px;
}

.submit-button{
 
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
   
}
#submit{
    background-color:#0082e6 ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: white;
    font-size: medium;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}