body{
    margin-left: 10px; height: 100%; overflow: hidden;
}
header{
    display: flex;
    
    width: auto;
    align-items: center;
}
canvas{
    background: pink;
}

.nav-links,.logo-container{
    display: flex;
}
.logo-container{
    align-items: baseline;
    flex: 1;
}
.logo{
    font-weight: 400;
    margin: 5px;
    color: lightseagreen;
}
nav{
   
    flex:9;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    
    text-decoration: none;
}
#mypara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: normal;
    

}
main{
    display: grid;
    grid-template-columns: 500px 600px;
    grid-template-rows: 250px 250px 250px ;
    grid-column-gap: 10px;
}
#mycanvas{
    grid-row: 1/3;
}
#mypara{
    grid-row: 3/4;
    grid-column: 2/3;
}
#anotherpara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: normal;
    grid-row: 3/4;
    grid-column: 1/2;

}
.mydivision{
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 125px 125px;

}
#up{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    background-color: tomato;
    font-size:x-large;
   
    
  
    border-radius: 4px;
}

#down{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
   
    font-size:x-large;
   
    
    
    border-radius: 4px;
    background-color: #e7e7e7;
    
}
#left{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size:x-large;
   
    
    
    border-radius: 4px;
    background-color: #4CAF50;
   


}
#right{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size:x-large;
   
    
    border-radius: 4px;
    background-color: #008CBA;
    
}